.page-form__title {
  padding: 73px 30px;
  margin: 0;
  margin-bottom: 17px;
  text-align: center;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  word-break: break-word;
  background-color: $decoration-grey;
}

.page-form__description {
  line-height: 24px;
  margin-bottom: 29px;
  font-size: 13px;
  color: $basic-dark-grey;

  @include padding-left-right;
}
