.aside-navigation {
  display: none;
  padding-left: 50px;
  font-size: 15px;

  @media (min-width: $desktop-width) {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
}

.aside-navigation__item a {
  min-width: 221px;
  padding: 0;
}

.aside-navigation__item:not(:first-child) {
  padding-left: 35px;
}
