.site-navigation {
  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $light-grey-border;
  }
}

.site-navigation__item {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    border-right: 1px solid $light-grey-border;
  }
}

.site-navigation__item:not(:first-child) {
  @media (min-width: $desktop-width) {
    padding-left: 35px;
  }
}

.site-navigation__item:nth-child(even) {
  @media (min-width: $desktop-width) {
    border: none;
  }
}

.site-navigation a,
.site-navigation .current-page {
  @media (min-width: $tablet-width) {
    min-height: 65px;
    padding: 0;
    margin-right: 36px;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    min-height: 88px;
    min-width: 184px;
    margin-right: 0;
    font-size: 17px;
  }
}
