.page-catalog__title {
  padding: 73px 30px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  word-break: break-word;
  background-color: $decoration-grey;
}
